/* This seems like an odd location for this file, but it needs to be here (or at least in 'src' somewhere). */

body{
    background-color: #eee;
    background-image: url('./assets/images/circuit_color.jpg');
    background-repeat: none;
    background-position: center;
    /* background-size: 100vh auto; */
    background-size: cover;
}