
#game-board{
    background-color: rgb(50,50,50);
    background-color: rgba(50,50,50,1);
    width: 70vw;
    margin: 20px auto 0px auto;
    height: 68vh;
    min-width: 350px;
    min-height: 350px;

}

#game-text{
    background-color: rgb(180,180,180);
    background-color: rgba(180,180,180,.8);
    height: 90%;
    width: 90%;
    margin: auto;
    position: relative;
    top: 5%;
    left: 5%;
}

#timer-holder{
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 12vh;
    left: 40%;
    height: 12vh;
    width: 20%;
    background-color: rgb(50,50,50);
    background-color: rgba(50,50,50,1);
}