*{
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
}

/* BACKGROUND */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

.canvas{
    background-color: #eee;
    /* background-image: url('./images/wavy-dots.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto; */

    background: url('./images/circuit_color.jpg');
    background-image: 
    linear-gradient(from right 
    rgba(150,150,150.5),rgba(150,150,150.5)
    );
    
    background-repeat: none;
    background-position: center;
    background-size: cover;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.canvas:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right,#002f4b,rgba(150,150,100,.7));
    opacity: .6; 
  }

#nav-style{
    color: rgb(230,230,250);
    font-weight: 800;
    /* color: black; */
    /* background-color: rgb(70,70,70);
    background-color: rgba(70,70,70,.7); */
    background-color: transparent;
    height: 10vh;
    /* border-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-color:  rgb(10,10,10);
    border-bottom-color:  rgba(10,10,10,.9); */
    text-align: center;
    font-weight: bold;
    padding: 15px 0 5px 0;
}

#logo{
    height: 15vh;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 35vw;
}

/* MIDDLE SECTION  */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

.card{
}.card-title{
    font-size: 28px;
    padding: 1vh 3vh;
    font-weight: 700;
    background-color: rgb(100,100,120);
    background-color: rgba(100,100,120,.9);
}.card-body{
    height: 100%;
    overflow-y: scroll;
    font-family: 'Roboto Mono', monospace; 
    font-size: 20px;
    /* background-color: rgb(150,150,170);
    background-color: rgba(150,150,170,.9); */
}.card-footer{
    background-color: rgb(100,100,120);
    background-color: rgba(100,100,120,.9);
    }

.subtext{
    font-size: 65%;
    font-style: italic;
}
.bonus{
    visibility: visible;
}
#messages{
    font-family: 'Roboto Mono', monospace;
}

.msg{
    font-family: 'Roboto Mono', monospace;
}

#game-board{
    background-color: rgb(150,150,170);
    background-color: rgba(150,150,170,.9);
    width: 70vw;
    height: 75vh;
    float: left;
    position: fixed;
    left: 15vw;
}

#typing-form{
}

form{
    padding: 0vh;
    margin: 0;
}

.form-control{
    padding: 0vh;
    margin: 1vh;
}

#game-text{
}

/* BOTTOM  */

#timer-holder{
    position: relative;
    bottom: 12vh;
    left: 40%;
    height: 12vh;
    width: 20%;
    background-color: rgb(50,50,50);
    background-color: rgba(50,50,50,1);
    visibility: visible;
}

.btn-dark{
    background-color: rgb(150,150,150);
}

/* MISC */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

#logout-button{
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgb(50,50,50);
    background-color: rgba(50,50,50,0);
    color:  rgb(180,180,180);
    color: rgba(180,180,180,.8);

    visibility: visible;
}
#logout-button:hover{
    cursor: pointer;
}

.wr{
    padding: 3vh;
}

#wait-bot{
    height: 20vh;
    width: 20vh;
}

h3,h4{
    font-family: 'Roboto Mono', monospace; 
}

#wait-btn-pad1,#wait-btn-pad2{
margin: 1vh;
min-height: 35px;
}

/* HOMEPAGE */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

#welcome{
    font-family: 'Roboto Mono', monospace;
}

.welcome{
    font-family: 'Roboto Mono', monospace;
    font-size: 32px;
}

#bot1{
    position: relative;
    top: 0vh;
    left: 0vh;
}

#bot2{
    /* position: relative;
    bottom: 10vh;
    right: 2vh; */
}

.wflow{
    background-color: transparent;
    height: 70vh;
    min-height: 70vh;
    padding: 5vh;
}

.smallImg{
    height: 25vh;
    width: 25vh;
    padding: 2vh;
}
.fc {
    float: center;
}
.fr {
    float: right;
}
.fl {
    float: left;
}

#enter-btn{
    position: fixed;
    bottom: 5vh;
    width: 70vw;
    background-color: rgb(50,50,50);
    background-color: rgba(50,50,50,1);
}

/* END HOMEPAGE */


/* USER SEAT */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

#bot-behind{
    position: fixed;
    top: 30vh;
    left: 60vw;
    z-index: -1;
    size: 200%;
}

#user-seat{
    background-color: rgb(230,230,250);
    background-color: rgba(230,230,250,.9);
    height: 8vh;
    width: 70vw;
    margin: 0 15vw;
    position: absolute;
    bottom: 4vh;
    border-radius: 10px;
    visibility: visible;
}

.vote-button{
    color: rgb(230,230,250);
    background-color: rgb(50,50,50);
    background-color: rgba(50,50,50,1);
    height: 5vh;
    width: 20%;
    /* position: center; */
    padding: 0;
    margin: 2% 2.5%;
    float: left;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

#timer{
    color: rgb(230,230,250);
    background-color: rgb(50,50,50);
    background-color: rgba(50,50,50,1);
    height: 5vh;
    width: 20%;
    /* position: center; */
    padding: 1vh;
    margin: 2% 2.5%;
    float: left;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.popOut{
    background-color: rgb(20,20,20);
    background-color: rgba(20,20,20,.8);
    width: 5vw;
    margin: 0;
    height: 60vh;
    min-width: 0;
    min-height: 0;
    float: left;
    visibility: hidden;
}

.right{
    position: relative;
    right: -10vw;
    top: 5vh;
}

#prbutton{
    background-color: transparent;
    width: 100%;
    visibility: hidden;
}

.left{
    position: relative;
    left: 10vw;
    top: 5vh;
}

#plbutton{
    background-color: transparent;
    width: 100%;
    visibility: hidden;
}



/* MEDIA QUERIES */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */


/* SMALL SCREENS */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 600px) {
    #game-board{
        width: 90vw;
        left: 5vw;
    }
    .card-title{
        font-size: 22px;
    }
    .card-body{
        font-size: 14px;
    }
    #user-seat{
        width: 90vw;
        margin: 0 5vw;
        bottom: 4vh;
        visibility: visible;
    }
    #enter-btn{
        width: 90vw;
    }
    .bonus{
        visibility: hidden;
    }
    .smallImg{
        height: 20vh;
        width: 20vh;
        padding: 10px;
    }
    .welcome{
        font-size: 20px;
    }
    .form-control{
        padding: 0vh;
        margin: 0vh;
    }
    .wr{
        padding: 2vh;
    }
    #logo{
        height: 15vh;
        position: fixed;
        max-width: 100vw;
        z-index: 0;
        top: 0px;
        left: 8vw;
    }
  }

/* MEDIUM SCREENS */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 992px) {
    #game-board{
        min-width: 200px;
    }
  }

/* LARGE SCREENS */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

/* XL SCREENS */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */