*{
    font-family: 'Roboto Mono', monospace;
}

body{
    /* background-color: #eee;
    background-image: url('../../assets/images/bw_chip.jpg');
    background-repeat: none;
    background-position: center;
    background-size: 100vh auto; */
    /* background-size: contain; */
}

#canvas{
    /* background-image: url('../../assets/images/blue_woman_robotic.jpg'); */
    background-color: lightpink;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    /* min-width: 400x; */
    /* min-width: 800px; */
    position: fixed;
    top:0;
    left:0;

}

#logout-button{
    position: fixed;
    top: 0px;
    left: 0px;
}