*{
    font-family: 'Roboto Mono', monospace;
}

body{
    /* background-color: #eee;
    background-image: url('../../assets/images/bw_chip.jpg');
    background-repeat: none;
    background-position: center;
    background-size: 100vh auto; */
    /* background-size: contain; */
}
