
#nav-style{
    /* color: rgb(240,240,240); */
    color: black;
    /* background-color: rgb(70,70,70);
    background-color: rgba(70,70,70,.7); */
    background-color: transparent;
    height: 10vh;
    /* border-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-color:  rgb(10,10,10);
    border-bottom-color:  rgba(10,10,10,.9); */
    text-align: center;
    font-weight: bold;
    padding: 15px 0 5px 0;
}